.card {
    color: #1b4d80;
    background-color: #c4d4e4;
}

.task-description {
    color: #c4d4e4;
    background-color: transparent;
}

.btn-green {
    background-color: #2db82a;
    color: white;
}

.btn-green:hover {
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: #15847d;
}

.btn-red {
    background-color: rgb(236, 86, 86);
    color: white;
}

.btn-red:hover {
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: #15847d;
}

.emptylist {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link, h1 {
    color: #fff;
}
.navbar-dark {
    background-color: #1b4d80 !important;
}
.body {
    background-color: #1b4d80 !important
}
.table {
    color: #c4d4e4;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #1b4d80;
}

form input[type="text"], form input[type="date"], form select {
    background-color: #e5eaef !important;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 4px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    font-weight: bold;
    }
a:hover, button:hover {
    color: #b2e3b1;
    background-color: transparent;
    text-decoration: none;
    }
th, td, h1, h2, p {
    color: #fff !important;
    }
