{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="main-box-1">
            <h1>Mark task as completed</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Complete</button>
            </form>
        </div>
    </main>
{% endblock content %}
