{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mt-3">
          <div class="card-header">
            <h3 class="card-title">Create a new task</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Create</button>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
