{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-5">
    <h1 class="text-center mb-4">My Tasks</h1>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-9">
            {% if list_tasks %}
                <table class="table table-hover table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is Completed</th>
                            <th>Complete/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in list_tasks %}
                            <tr>
                                <td><a href="{% url 'show_task_detail' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.start_date|date:"D d M Y" }}</td>
                                <td>{{ task.due_date|date:"D d M Y" }}</td>
                                <td>{% if task.is_completed %}Yes{% else %}No{% endif %}</td>
                                <td>
                                    {% if not task.is_completed %}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-green">Complete Task</button>
                                    </form>
                                    {% elif task.is_completed %}
                                    <form method="post" action="{% url 'delete_task' task.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-red">Delete Task</button>
                                    </form>
                                </td>

                            {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks! Hooray!</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock content %}
