{% extends 'base.html' %}

{% block content %}
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-9">
                <div class="main-box-1">
                    <h1 class="task-title text-center mb-4">Task Details</h1>
                    {% if task_detail %}
                       <div class="task-description text-center">{{ task_detail.description }}</div>
                    {% else %}
                        <p>A task description has not been created yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
