{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mt-3">
            <div class="card-header">
              <h3 class="card-title">Create a new project</h3>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.name.label_tag }}
                  {{ form.name }}
                </div>
                <div class="mb-3">
                  {{ form.description.label_tag }}
                  {{ form.description }}
                </div>
                <div class="mb-3">
                  {{ form.owner.label_tag }}
                  {{ form.owner }}
                </div>
                <button class="btn btn-green">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
