{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-9">
            <div class="main-box-1">
                <h1 class="page-title text-center">{{ project_details.name }}</h1>
                <p class="text-center ms-1 px-2" style="color: white;">{{ project_details.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="task-title">Tasks</h2>
                    <p class="text-end mb-4">
                        <a class="btn btn-green" href="{% url 'create_task' %}" role="button">Create a new task</a>
                    </p>
                </div>
                {% if project_details.tasks.all %}
                    <div class="table-responsive">
                        <table class="table table-hover table-dark table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                    <th>Complete/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in project_details.tasks.all %}
                                    <tr>
                                        <td><a href="{% url 'show_task_detail' task.id %}">{{ task.name }}</a></td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.is_completed|yesno }}</td>
                                        <td>{% if not task.is_completed %}
                                            <form method="post" action="{% url 'complete_task' task.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-green">Complete Task</button>
                                            </form>
                                            {% elif task.is_completed %}
                                            <form method="post" action="{% url 'delete_task' task.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-red">Delete Task</button>
                                            </form>
                                        </td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
