{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-5">
    <h1 class="text-center mb-4">My Projects</h1>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-9">
            <p class="text-end mb-4">
                <a class="btn btn-green" href="{% url 'create_project' %}" role="button">Create a new project</a>
            </p>
            {% if list_projects %}
                <table class="table table-hover table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>Project Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                                <td>{{ project.tasks.all|length }}</td>
                                <td>{{ project.owner }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </div>
</main>
    {% endblock content %}
